version: "3"
services:
  reactive-github-repositories-api:
    build:
      dockerfile: docker/Dockerfile.dev
      context: ../
    volumes:
      - ..:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - LOG_LEVEL=debug
      - AUTH_ENABLED=false
      - EXPORT_VARS_FILES=false
      - PORT=8080
      - BASE_PATH=http://localhost:8080
      - GITHUB_API_BASE_PATH=https://api.github.com
      - NEW_RELIC_ENABLED=false

    ports:
      - "8080:8080"
networks:
  default: